<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	

	<div class="container">

		<p></p>
		<div class="card">
			<div class="card-header text-white bg-secondary">Lista de Marcas</div>
			<div class="card-body">
				<form th:action="@{/marca/buscar}" method="get">
					<div class="form-row align-items-center">
						<div class="col-auto">
							<label class="sr-only" for="inputNombre">Nombre</label><input
								id="inputNombre" type="text" class="form-control" 
								name="nombre"
								placeholder="Nombre de la marca">
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-primary">Buscar</button>
							
					
					</div>
						</div>
						<div class="card-text text-muted border-primary" align="right">
							<a th:href="@{/marca/nuevo}" class="btn btn-primary"> 
								<i class="fas fa-plus-square"></i> Nueva Marca
							</a>
						</div>
					
					<p></p>
					<p></p>
					
				</form>
				
				
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-secondary text-white">
							<tr>
								<th>Id</th>
								<th>Nombre</th>
								<th>Descripcion</th>
								<th scope="col" colspan="3"> Opciones </th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="mar:${marcas}">
						<td th:text="${mar.id}"></td>
						<td th:text="${mar.nombre}"></td>
						<td th:text="${mar.descripcion}"></td>
						
						<td><a th:href="@{'/marca/editar/' + ${mar.id}}"    
									class="btn btn-info"> <i class="fas fa-edit"></i>
						</a></td>	
						<td><a  th:href="@{'/marca/eliminar/'+ ${mar.id}}"
									class="btn btn-danger" > <i class="fas fa-trash-alt"></i>
						</a></td>
						
						
						</tbody>
					</table>
				</div>
			</div>
			
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>